bbot/B_BoT-v1.json
{
  "name": "B-BoT",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ffccb816-7dfc-4790-991e-0c194a41c12f",
              "leftValue": "={{ $('Webhook').item.json.body.content.toLowerCase() }}",
              "rightValue": "=iniciar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "5cc680fa-0f5e-4b31-a48c-f0736b31b5ad",
      "name": "start",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -80,
        1300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0149f53d-fff1-4c46-8c51-3982c1405045",
              "name": "endpoint",
              "value": "https://teste.uzapi.com.br:3333",
              "type": "string"
            },
            {
              "id": "2a8ddc04-d6d7-46c0-a344-72f78c4acccb",
              "name": "session",
              "value": "bbot",
              "type": "string"
            },
            {
              "id": "52f84584-b6b9-4063-97e1-f1ff4c0c69cd",
              "name": "sessionKey",
              "value": "bbot",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7b787ec0-deb5-4817-925a-b974fd7e7d49",
      "name": "parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -380,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Tudo bem *{{ $('Webhook').item.json.body.name }}*.\n\nPara consultar o andamento do seu chamado, escolha qual dos chamados voce gostaria de verificar:\n\n*A* - 999x9xx999\n*B* - 888x9xx777\n*C* - 333x6xx555"
            }
          ]
        },
        "options": {}
      },
      "id": "46366509-8f24-480a-aa75-4320a1cb665c",
      "name": "display-menu2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        980
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=*{{ $('Webhook').item.json.body.name }}*, muito obrigado pelo seu contato. Sempre que precisar, falar comigo, basta digitar *iniciar*.\n\nA *Firma XPTO*, agradece seu contato."
            }
          ]
        },
        "options": {}
      },
      "id": "7b0acb53-5627-46ac-b276-b187367d5814",
      "name": "display-menu3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Tudo bem *{{ $('Webhook').item.json.body.name.split(\" \")[0] }}*, para darmos andamento a abertura do seu chamado, preciso que voce digite somente o número do *CEP* ou da *MÁTRICULA* do seu local de atendimento."
            }
          ]
        },
        "options": {}
      },
      "id": "a2273f2e-7726-423c-8848-46c8f0da2cd7",
      "name": "option-1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        840
      ]
    },
    {
      "parameters": {
        "url": "=https://viacep.com.br/ws/{{ $('Webhook').item.json.body.content }}/json/ ",
        "options": {}
      },
      "id": "9c84440b-2b1c-4ac3-b27c-d17c5cb3887d",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        1260
      ]
    },
    {
      "parameters": {
        "tableId": "chamados",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cep",
              "fieldValue": "={{ $('Webhook').item.json.body.content }}"
            }
          ]
        }
      },
      "id": "17001d51-4bf4-4d4f-a7bb-574879634ff5",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        660,
        1160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4677e037-d001-49cb-a421-f59905908c93",
              "leftValue": "={{ $('Webhook').item.json.body.content.length }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d532a7e7-6e5b-4266-926e-81fa919779d0",
      "name": "validate-cep",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        1320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Certo *{{ $('Webhook').item.json.body.name }}*, você desejar solicitar um atendimento para o seguinte endereço:\n\n{{ $('HTTP Request').item.json[\"cep\"] }}\n{{ $('HTTP Request').item.json.logradouro }}\n{{ $('HTTP Request').item.json[\"bairro\"]  }}\n{{ $('HTTP Request').item.json[\"localidade\"] }} - {{ $('HTTP Request').item.json[\"uf\"] }}\n\nDeseja prosseguir? "
            }
          ]
        },
        "options": {}
      },
      "id": "0ca46a5f-d1dd-4bdf-9db1-edb4399e3275",
      "name": "display-menu1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        1160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b-bot",
        "options": {}
      },
      "id": "464b2835-cb95-4154-81d1-81ec4b312982",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        640
      ],
      "webhookId": "ff632b93-b744-41b0-92e7-9fad3c291839"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        }
      },
      "id": "ccda42f1-f1ec-4634-80f3-e98e32a81144",
      "name": "search-contact",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        40,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a4861d6a-d7dd-4a97-8040-46bbf884e9f5",
              "leftValue": "={{ $('Webhook').item.json.body.wook }}",
              "rightValue": "RECEIVE_MESSAGE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "10e19bb6-e9dc-4005-a538-8afd79fd629e",
              "leftValue": "={{ $('Webhook').item.json.body.isGroupMsg }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "132a1e22-6e49-4774-90a0-06a85e8238f3",
      "name": "receive-message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -200,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ceebc382-a3cd-4f90-b041-24067facbd15",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "={{ $('Webhook').item.json.body.sender }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1ac113b4-1fca-47cd-87bc-fbfadba643e8",
      "name": "1st-contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        260,
        540
      ]
    },
    {
      "parameters": {
        "tableId": "workflow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "fieldId": "step",
              "fieldValue": "ask-name"
            }
          ]
        }
      },
      "id": "125a132c-d39a-454e-8411-8471a6c2e0b8",
      "name": "add-sender_ask-name",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        700,
        360
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5ea2dadd-7879-472e-a60a-711b2ca138c2",
              "leftValue": "={{ $json.step }}",
              "rightValue": "ask-name",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6701e03-d285-425f-a8c6-df3215db419f",
      "name": "step-ask_name?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5ea2dadd-7879-472e-a60a-711b2ca138c2",
              "leftValue": "={{ $json.step }}",
              "rightValue": "ask-email",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "16af2740-62cc-4967-9d1d-f65a01d691ba",
      "name": "step-ask_email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Obrigado, *{{ $('Webhook').item.json[\"body\"][\"content\"] }}*. \n\nAgora por favor, informe seu email.\n"
            }
          ]
        },
        "options": {}
      },
      "id": "2239f0a6-38fe-49a8-a471-a7ff17fe6db5",
      "name": "ask-email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Olá 👋, seja bem vindo! \n\nEu sou a *IAra*, *assistente virtual* 🤖 da *XPTO Company*.\n\nPara iniciarmos o atendimento, informe seu *primeiro nome*\n"
            }
          ]
        },
        "options": {}
      },
      "id": "f2edb4ad-8e8b-48ad-b127-b404709ef19b",
      "name": "ask-name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        440
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "ask-email"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Webhook').item.json.body.content }}"
            }
          ]
        }
      },
      "id": "8359b6f8-8922-47d6-a59d-b6d8be8416f1",
      "name": "add-name_ask-email",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "ask-menu"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Webhook').item.json.body.content }}"
            }
          ]
        }
      },
      "id": "761c7b4f-8a92-4238-b82a-1ce09aeb6d10",
      "name": "add-email_ask-menu",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1160,
        740
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=*Para dar sequência ao atendimento, digite o número da opção desejada:*\n\n*1* - Abrir um chamado\n*2* - Consultar chamado aberto anteriormente\n"
            }
          ]
        },
        "options": {}
      },
      "id": "5aba859f-1715-413e-807a-9160ab0185d1",
      "name": "menu_options",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5ea2dadd-7879-472e-a60a-711b2ca138c2",
              "leftValue": "={{ $json.step }}",
              "rightValue": "ask-menu",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0299dfce-3471-4eec-bd56-a61a3a178e08",
      "name": "step-ask_menu",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        940
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "=1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "open"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ed19b39b-99b2-4b23-aef0-307dd1bb384c",
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "873a192d-ebd2-4df1-964e-4756a90841ef",
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "finish"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "3ab460e5-5a8d-441f-8db2-8cff0b4e9ef4",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1160,
        900
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "start": {
      "main": [
        [],
        [
          {
            "node": "validate-cep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parameters": {
      "main": [
        [
          {
            "node": "receive-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-cep": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "display-menu1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search-contact": {
      "main": [
        [
          {
            "node": "1st-contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "receive-message": {
      "main": [
        [
          {
            "node": "search-contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1st-contact?": {
      "main": [
        [
          {
            "node": "ask-name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "step-ask_name?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "step-ask_name?": {
      "main": [
        [
          {
            "node": "ask-email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "step-ask_email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "step-ask_email?": {
      "main": [
        [
          {
            "node": "menu_options",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "step-ask_menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ask-email": {
      "main": [
        [
          {
            "node": "add-name_ask-email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ask-name": {
      "main": [
        [
          {
            "node": "add-sender_ask-name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "menu_options": {
      "main": [
        [
          {
            "node": "add-email_ask-menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "step-ask_menu": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "option-1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "display-menu2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "display-menu3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "05934cd9-04bb-4c7d-97eb-5bc5791fde85",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f529964ec142b683b8d6fb1b1061b8c872558a9ac9ba4a71dc5384e4d45db503"
  },
  "id": "57LqZY5oQtwCcsuU",
  "tags": []
}