bbot/B_BoT.json
{
  "name": "B-BoT",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ffccb816-7dfc-4790-991e-0c194a41c12f",
              "leftValue": "={{ $('Webhook').item.json.body.content.toLowerCase() }}",
              "rightValue": "=iniciar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "5cc680fa-0f5e-4b31-a48c-f0736b31b5ad",
      "name": "start",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -580,
        -80
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0149f53d-fff1-4c46-8c51-3982c1405045",
              "name": "endpoint",
              "value": "https://teste.uzapi.com.br:3333",
              "type": "string"
            },
            {
              "id": "2a8ddc04-d6d7-46c0-a344-72f78c4acccb",
              "name": "session",
              "value": "bbot",
              "type": "string"
            },
            {
              "id": "52f84584-b6b9-4063-97e1-f1ff4c0c69cd",
              "name": "sessionKey",
              "value": "bbot",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7b787ec0-deb5-4817-925a-b974fd7e7d49",
      "name": "parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -380,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Tudo bem *{{ $('Webhook').item.json.body.name }}*.\n\nPara consultar o andamento do seu chamado, escolha qual dos chamados voce gostaria de verificar:\n\n*A* - 999x9xx999\n*B* - 888x9xx777\n*C* - 333x6xx555"
            }
          ]
        },
        "options": {}
      },
      "id": "46366509-8f24-480a-aa75-4320a1cb665c",
      "name": "display-menu2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        -620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=*{{ $('Webhook').item.json.body.name }}*, muito obrigado pelo seu contato. Sempre que precisar, falar comigo, basta digitar *iniciar*.\n\nA *Firma XPTO*, agradece seu contato."
            }
          ]
        },
        "options": {}
      },
      "id": "7b0acb53-5627-46ac-b276-b187367d5814",
      "name": "display-menu3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        -480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Tudo bem *{{ $('Webhook').item.json.body.name.split(\" \")[0] }}*, para darmos andamento a abertura do seu chamado, preciso que voce digite somente o número do *CEP* para atendimento."
            }
          ]
        },
        "options": {}
      },
      "id": "a2273f2e-7726-423c-8848-46c8f0da2cd7",
      "name": "option-1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4677e037-d001-49cb-a421-f59905908c93",
              "leftValue": "={{ $('Webhook').item.json.body.content.length }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d532a7e7-6e5b-4266-926e-81fa919779d0",
      "name": "validate-cep",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        740,
        680
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        }
      },
      "id": "ccda42f1-f1ec-4634-80f3-e98e32a81144",
      "name": "search-contact",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        40,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a4861d6a-d7dd-4a97-8040-46bbf884e9f5",
              "leftValue": "={{ $('Webhook').item.json.body.wook }}",
              "rightValue": "RECEIVE_MESSAGE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "10e19bb6-e9dc-4005-a538-8afd79fd629e",
              "leftValue": "={{ $('Webhook').item.json.body.isGroupMsg }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "132a1e22-6e49-4774-90a0-06a85e8238f3",
      "name": "receive-message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -200,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ceebc382-a3cd-4f90-b041-24067facbd15",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "={{ $('Webhook').item.json.body.sender }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1ac113b4-1fca-47cd-87bc-fbfadba643e8",
      "name": "1st-contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        260,
        540
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "ask-menu"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Webhook').item.json.body.content }}"
            }
          ]
        }
      },
      "id": "761c7b4f-8a92-4238-b82a-1ce09aeb6d10",
      "name": "add-email_ask-menu",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -60,
        -660
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=*Para dar sequência ao atendimento, digite o número da opção desejada:*\n\n*1* - Abrir um chamado\n*2* - Consultar chamado aberto anteriormente\n"
            }
          ]
        },
        "options": {}
      },
      "id": "5aba859f-1715-413e-807a-9160ab0185d1",
      "name": "menu_options",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -520
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "=1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "open"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ed19b39b-99b2-4b23-aef0-307dd1bb384c",
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "873a192d-ebd2-4df1-964e-4756a90841ef",
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "finish"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "3ab460e5-5a8d-441f-8db2-8cff0b4e9ef4",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -840,
        -680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Olá *{{ $('Webhook').item.json.body.name.split(\" \")[0] }}* 👋, seja bem vindo! \n\nEu sou a *IAra*, *assistente virtual* 🤖 da *XPTO Company*.\n\nPara dar sequência ao atendimento, *digite o número da opção desejada:*\n\n*1* - Abrir um chamado\n*2* - Consultar chamado\n"
            }
          ]
        },
        "options": {}
      },
      "id": "f2edb4ad-8e8b-48ad-b127-b404709ef19b",
      "name": "greeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        380
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5ec9bf3f-f420-4b93-840c-c88d29349a5e",
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "9d42569d-01b6-4ea6-aa19-3568a58445ea",
      "name": "option_1_2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        740,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Obrigado, *{{ $('Webhook').item.json[\"body\"][\"content\"] }}*. \n\nAgora por favor, informe seu email.\n"
            }
          ]
        },
        "options": {}
      },
      "id": "882e4246-acba-4e14-8745-b5b9daf34a88",
      "name": "ask-email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -760,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Certo, para darmos andamento a consulta do seu protocolo, escolha o número de qual protocolo deseja saber o andamento:\n\n*1* - xxxxxxxx \n*2* - xxxxxxxx \n*3* - xxxxxxxx \n*4* - xxxxxxxx "
            }
          ]
        },
        "options": {}
      },
      "id": "3c23615b-bbb2-4eed-9cc5-5e4174dd8adb",
      "name": "option-2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        580
      ]
    },
    {
      "parameters": {
        "url": "=https://viacep.com.br/ws/{{ $('Webhook').item.json.body.content }}/json/ ",
        "options": {}
      },
      "id": "9c84440b-2b1c-4ac3-b27c-d17c5cb3887d",
      "name": "search-cep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        740
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "search_cep"
            }
          ]
        }
      },
      "id": "a24e5d60-a7db-45fc-b879-3fd554fc0b42",
      "name": "stp-search-cep",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1480,
        740
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "opt_two"
            }
          ]
        }
      },
      "id": "2659d588-6150-4868-beac-2d535abbd732",
      "name": "stp-opt_two",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1100,
        580
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "workflow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "fieldId": "step",
              "fieldValue": "greeting"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Webhook').item.json.body.name }}"
            }
          ]
        }
      },
      "id": "125a132c-d39a-454e-8411-8471a6c2e0b8",
      "name": "stp-greeting",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        740,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b-bot",
        "options": {}
      },
      "id": "464b2835-cb95-4154-81d1-81ec4b312982",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        640
      ],
      "webhookId": "ff632b93-b744-41b0-92e7-9fad3c291839"
    },
    {
      "parameters": {
        "tableId": "chamados",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cep",
              "fieldValue": "={{ $('Webhook').item.json.body.content }}"
            }
          ]
        }
      },
      "id": "17001d51-4bf4-4d4f-a7bb-574879634ff5",
      "name": "add-os",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1140,
        740
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "opt_one"
            }
          ]
        }
      },
      "id": "8359b6f8-8922-47d6-a59d-b6d8be8416f1",
      "name": "stp-opt-one",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1100,
        420
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Certo *{{ $('Webhook').item.json.body.name }}*, você desejar solicitar um atendimento para o seguinte endereço:\n\n{{ $('search-cep').item.json[\"cep\"] }}\n{{ $('search-cep').item.json.logradouro }}\n{{ $('search-cep').item.json[\"bairro\"]  }}\n{{ $('search-cep').item.json[\"localidade\"] }} - {{ $('search-cep').item.json[\"uf\"] }}\n\nDigite o número da residência para atendimento ou *fim* para encerrar atendimento."
            }
          ]
        },
        "options": {}
      },
      "id": "0ca46a5f-d1dd-4bdf-9db1-edb4399e3275",
      "name": "show-addr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        740
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "greeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "greeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "80cc3b19-5d97-42e9-a6e1-bcea094848b4",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "opt_one",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opt_one"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ac75cb82-c1ca-405e-bae3-c8ddc081a522",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "search_cep",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search_cep"
            }
          ]
        },
        "options": {}
      },
      "id": "7944d609-538c-4807-bc48-3de0c204a8a6",
      "name": "which-step?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        480,
        560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "end"
            }
          ]
        }
      },
      "id": "d4a4731f-2a01-463a-a71f-fcd4109db029",
      "name": "end",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1300,
        900
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=A *Firma XPTO* agradece por entrar em contato e te esperamos em uma nova oportunidade."
            }
          ]
        },
        "options": {}
      },
      "id": "a7ed699e-dfae-42bd-83be-ca578274589e",
      "name": "goodbye2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Atendimento encerrado.\nPermanecemos a sua disposição."
            }
          ]
        },
        "options": {}
      },
      "id": "d26be28b-6688-40bc-8a9f-ec603e1874d5",
      "name": "goodbye",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        900
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.content.toLowerCase() }}",
                    "rightValue": "fim",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fim"
            }
          ]
        },
        "options": {}
      },
      "id": "299325b7-2b22-45cf-a2e9-8ac92db5f080",
      "name": "end_continue",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        740,
        900
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "parameters": {
      "main": [
        [
          {
            "node": "receive-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-cep": {
      "main": [
        [
          {
            "node": "search-cep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search-contact": {
      "main": [
        [
          {
            "node": "1st-contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "receive-message": {
      "main": [
        [
          {
            "node": "search-contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1st-contact?": {
      "main": [
        [
          {
            "node": "greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "which-step?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "display-menu2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "display-menu3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "greeting": {
      "main": [
        [
          {
            "node": "stp-greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "option_1_2": {
      "main": [
        [
          {
            "node": "option-1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "option-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "option-1": {
      "main": [
        [
          {
            "node": "stp-opt-one",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "option-2": {
      "main": [
        [
          {
            "node": "stp-opt_two",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search-cep": {
      "main": [
        [
          {
            "node": "add-os",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add-os": {
      "main": [
        [
          {
            "node": "show-addr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "show-addr": {
      "main": [
        [
          {
            "node": "stp-search-cep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "which-step?": {
      "main": [
        [
          {
            "node": "option_1_2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "validate-cep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "end_continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "goodbye2": {
      "main": [
        [
          {
            "node": "goodbye",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "goodbye": {
      "main": [
        [
          {
            "node": "end",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "end_continue": {
      "main": [
        [
          {
            "node": "goodbye2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d91c506c-dcec-420c-a222-d0ab52318e82",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f529964ec142b683b8d6fb1b1061b8c872558a9ac9ba4a71dc5384e4d45db503"
  },
  "id": "57LqZY5oQtwCcsuU",
  "tags": []
}