bbot/B_BoT.json
{
  "name": "B-BoT",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0149f53d-fff1-4c46-8c51-3982c1405045",
              "name": "endpoint",
              "value": "https://teste.uzapi.com.br:3333",
              "type": "string"
            },
            {
              "id": "2a8ddc04-d6d7-46c0-a344-72f78c4acccb",
              "name": "session",
              "value": "bbot",
              "type": "string"
            },
            {
              "id": "52f84584-b6b9-4063-97e1-f1ff4c0c69cd",
              "name": "sessionKey",
              "value": "bbot",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c314fbd7-84d8-44cf-b9ee-029bcc3166c2",
      "name": "parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        920,
        1780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Tudo bem *{{ $('Webhook').item.json.body.name.split(\" \")[0] }}*, para darmos andamento a abertura do seu chamado, preciso que voce digite somente o número do *CEP* para atendimento."
            }
          ]
        },
        "options": {}
      },
      "id": "e1436763-fcf9-4a1d-8c7b-0f7e9cae85c0",
      "name": "option-1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        1560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4677e037-d001-49cb-a421-f59905908c93",
              "leftValue": "={{ $('Webhook').item.json.body.content.length }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bf367d0b-ada0-4fb8-870d-5927ae2e57c4",
      "name": "validate-cep",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2040,
        1820
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        }
      },
      "id": "eaac396a-e7a9-450e-9ccc-3d5ddb81d53d",
      "name": "search-contact",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1340,
        1680
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a4861d6a-d7dd-4a97-8040-46bbf884e9f5",
              "leftValue": "={{ $('Webhook').item.json.body.wook }}",
              "rightValue": "RECEIVE_MESSAGE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "10e19bb6-e9dc-4005-a538-8afd79fd629e",
              "leftValue": "={{ $('Webhook').item.json.body.isGroupMsg }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2f82221-ea9d-42a1-b51e-01356d9e69ca",
      "name": "receive-message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        1780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ceebc382-a3cd-4f90-b041-24067facbd15",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "={{ $('Webhook').item.json.body.sender }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0b773a8a-fda0-4146-a755-5395471215ec",
      "name": "1st-contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        1680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Olá *{{ $('Webhook').item.json.body.name.split(\" \")[0] }}* 👋, seja bem vindo! \n\nEu sou a *IAra*, *assistente virtual* 🤖 da *XPTO Company*.\n\nPara dar sequência ao atendimento, *digite o número da opção desejada:*\n\n*1* - Abrir um chamado\n*2* - Consultar chamado\n"
            }
          ]
        },
        "options": {}
      },
      "id": "a55912d0-bb05-437b-821f-0dff8b66a923",
      "name": "greeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        1520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Certo, para darmos andamento a consulta do seu protocolo, escolha o número de qual protocolo deseja saber o andamento:\n\n*1* - xxxxxxxx \n*2* - xxxxxxxx \n*3* - xxxxxxxx \n*4* - xxxxxxxx "
            }
          ]
        },
        "options": {}
      },
      "id": "7b09c0b9-bbcb-4c00-9e90-11dea07b71dc",
      "name": "option-2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        1720
      ]
    },
    {
      "parameters": {
        "url": "=https://viacep.com.br/ws/{{ $('Webhook').item.json.body.content }}/json/ ",
        "options": {}
      },
      "id": "d670e8f9-e737-4cd2-80d7-049f6c57a2a5",
      "name": "search-cep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        1880
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "search_cep"
            }
          ]
        }
      },
      "id": "46157d7b-7e09-44b7-aee2-5ca8b2dc56e3",
      "name": "stp-search-cep",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2780,
        1880
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "opt_two"
            }
          ]
        }
      },
      "id": "a7004434-b91c-49f9-9073-d59502769b40",
      "name": "stp-opt_two",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2400,
        1720
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "workflow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "fieldId": "step",
              "fieldValue": "greeting"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Webhook').item.json.body.name }}"
            }
          ]
        }
      },
      "id": "4ec5cdbf-7e96-4687-aa0e-1a6163b78b9a",
      "name": "stp-greeting",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2040,
        1440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chamados",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cep",
              "fieldValue": "={{ $('Webhook').item.json.body.content }}"
            }
          ]
        }
      },
      "id": "f1420a38-6bb6-4bf3-a0e5-111cc87deb10",
      "name": "add-os",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2440,
        1880
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "opt_one"
            }
          ]
        }
      },
      "id": "8eff3097-1964-45bc-9dca-1291e420775b",
      "name": "stp-opt-one",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2400,
        1560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Certo *{{ $('Webhook').item.json.body.name }}*, você desejar solicitar um atendimento para o seguinte endereço:\n\n{{ $('search-cep').item.json[\"cep\"] }}\n{{ $('search-cep').item.json.logradouro }}\n{{ $('search-cep').item.json[\"bairro\"]  }}\n{{ $('search-cep').item.json[\"localidade\"] }} - {{ $('search-cep').item.json[\"uf\"] }}\n\nDigite o número da residência para atendimento ou *fim* para encerrar atendimento."
            }
          ]
        },
        "options": {}
      },
      "id": "1b9b8962-501d-4b65-8c34-f72c4d6069f5",
      "name": "show-addr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        1880
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "bye"
            }
          ]
        }
      },
      "id": "35f20e30-e4e5-4fe2-837d-ef91b363ff61",
      "name": "end",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2600,
        2040
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=A *Firma XPTO* agradece por entrar em contato e te esperamos em uma nova oportunidade."
            }
          ]
        },
        "options": {}
      },
      "id": "5d42b3d7-cfda-49ca-aef2-95cf7dfe25b6",
      "name": "goodbye1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        2040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Atendimento encerrado.\nPermanecemos a sua disposição."
            }
          ]
        },
        "options": {}
      },
      "id": "70fc2b38-0c64-4c8e-ac24-9b3697daabcb",
      "name": "goodbye2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        2040
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "fdce886c-9aa1-4d48-93a1-dd6a234d14e7",
      "name": "wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2940,
        1440
      ],
      "webhookId": "ba96c820-d07e-479d-9a30-9f6489ec06bb",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        }
      },
      "id": "7ae556c1-33bc-42c1-83db-4f5873268ab2",
      "name": "search-contact1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3140,
        1440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4149a00c-d528-4f45-b982-d1132178bc35",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3360,
        1440
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b-bot",
        "options": {}
      },
      "id": "419b1e6c-d233-4dd6-8838-5710e2489501",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        740,
        1780
      ],
      "webhookId": "ff632b93-b744-41b0-92e7-9fad3c291839"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5ec9bf3f-f420-4b93-840c-c88d29349a5e",
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "31d3c675-fdb9-4ccd-9aa8-6e0526efbcbd",
      "name": "option_1_2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2040,
        1620
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "end-timeout"
            }
          ]
        }
      },
      "id": "fccf1d52-3bf2-4697-91c8-7525536b4aba",
      "name": "end-timeout",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3820,
        1380
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Olá, parece que você deve estar ocupado no momento.\n\nEstou encerrando nosso atendimento, mas a qualquer momento voce pode voltar a me chamar. Basta digitar *IAra*.\n\nA *Firma XPTO* agradece por entrar em contato e te esperamos em uma nova oportunidade.\n"
            }
          ]
        },
        "options": {}
      },
      "id": "75d9e8fd-ed71-4462-9530-c7962d33adc7",
      "name": "timeout-msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        1380
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.content.toLowerCase() }}",
                    "rightValue": "fim",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fim"
            }
          ]
        },
        "options": {}
      },
      "id": "3d8c8bc4-c7a7-4dd2-b448-be634162f4ce",
      "name": "end-continue",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2040,
        2040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Olá novamente *{{ $('Webhook').item.json.body.name.split(\" \")[0] }}* 👋, seja bem vindo! \n\nEu sou a *IAra*, *assistente virtual* 🤖 da *XPTO Company*.\n\nPara dar sequência ao atendimento, *digite o número da opção desejada:*\n\n*1* - Abrir um chamado\n*2* - Consultar chamado\n"
            }
          ]
        },
        "options": {}
      },
      "id": "c5074b11-1614-4d7e-934b-b0f953400844",
      "name": "welcome-back",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        2220
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "greeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "greeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "80cc3b19-5d97-42e9-a6e1-bcea094848b4",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "opt_one",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opt_one"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ac75cb82-c1ca-405e-bae3-c8ddc081a522",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "search_cep",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search_cep"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "f2279629-273c-4119-8ada-cd96ba72e4cd",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "end-timeout",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "timeout"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "440d0a4d-9347-4187-8fa9-d9ec169aee93",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "bye",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bye"
            }
          ]
        },
        "options": {}
      },
      "id": "d06a5961-fe3f-4b86-b2ed-840e385f1b3f",
      "name": "which-step?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1780,
        1700
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "greeting"
            }
          ]
        }
      },
      "id": "a993272d-d66c-4e28-8eeb-3ef0a0f470e8",
      "name": "stp-greeting-welcome",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2280,
        2220
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "parameters": {
      "main": [
        [
          {
            "node": "receive-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-cep": {
      "main": [
        [
          {
            "node": "search-cep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search-contact": {
      "main": [
        [
          {
            "node": "1st-contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "receive-message": {
      "main": [
        [
          {
            "node": "search-contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1st-contact?": {
      "main": [
        [
          {
            "node": "greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "which-step?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "greeting": {
      "main": [
        [
          {
            "node": "stp-greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "option-1": {
      "main": [
        [
          {
            "node": "stp-opt-one",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "option-2": {
      "main": [
        [
          {
            "node": "stp-opt_two",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search-cep": {
      "main": [
        [
          {
            "node": "add-os",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add-os": {
      "main": [
        [
          {
            "node": "show-addr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "show-addr": {
      "main": [
        [
          {
            "node": "stp-search-cep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "goodbye1": {
      "main": [
        [
          {
            "node": "goodbye2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "goodbye2": {
      "main": [
        [
          {
            "node": "end",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stp-greeting": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stp-opt-one": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stp-opt_two": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stp-search-cep": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait": {
      "main": [
        [
          {
            "node": "search-contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search-contact1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "timeout-msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "option_1_2": {
      "main": [
        [
          {
            "node": "option-1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "option-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "timeout-msg": {
      "main": [
        [
          {
            "node": "end-timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "end-continue": {
      "main": [
        [
          {
            "node": "goodbye1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "welcome-back": {
      "main": [
        [
          {
            "node": "stp-greeting-welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "which-step?": {
      "main": [
        [
          {
            "node": "option_1_2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "validate-cep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "end-continue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "welcome-back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "welcome-back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stp-greeting-welcome": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb7fc91b-4538-48b0-8502-b87e062d2152",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f529964ec142b683b8d6fb1b1061b8c872558a9ac9ba4a71dc5384e4d45db503"
  },
  "id": "kw8OXDgxmqzOhYmk",
  "tags": []
}