bbot/BBoT_MainFlow.json
{
  "name": "BBoT-MainFlow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0149f53d-fff1-4c46-8c51-3982c1405045",
              "name": "endpoint",
              "value": "https://teste.uzapi.com.br:3333",
              "type": "string"
            },
            {
              "id": "2a8ddc04-d6d7-46c0-a344-72f78c4acccb",
              "name": "session",
              "value": "bbot",
              "type": "string"
            },
            {
              "id": "52f84584-b6b9-4063-97e1-f1ff4c0c69cd",
              "name": "sessionKey",
              "value": "bbot",
              "type": "string"
            },
            {
              "id": "a6023261-7b8d-4035-a58a-fc52b79d3b7f",
              "name": "botName",
              "value": "IAra",
              "type": "string"
            },
            {
              "id": "4e8c1589-1364-45ae-b140-575a4270aba7",
              "name": "companyName",
              "value": "Firma XPTO",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "21c14cb5-f02d-45a4-96ac-da82a811afaf",
      "name": "parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2220,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Tudo bem *{{ $('Webhook').item.json.body.name.split(\" \")[0] }}*, para darmos andamento a abertura do seu chamado, preciso que voce digite somente o número do *CEP* para atendimento."
            }
          ]
        },
        "options": {}
      },
      "id": "7f495a09-6d04-42c8-9968-c78dc332bdba",
      "name": "option-1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -920,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4677e037-d001-49cb-a421-f59905908c93",
              "leftValue": "={{ $('Webhook').item.json.body.content.length }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7247007e-813c-4867-991a-95778f2725ee",
      "name": "validate-cep",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1100,
        900
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        }
      },
      "id": "57d1cadb-885f-4373-bf65-c3d59e13c167",
      "name": "search-contact",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1800,
        760
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a4861d6a-d7dd-4a97-8040-46bbf884e9f5",
              "leftValue": "={{ $('Webhook').item.json.body.wook }}",
              "rightValue": "RECEIVE_MESSAGE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "10e19bb6-e9dc-4005-a538-8afd79fd629e",
              "leftValue": "={{ $('Webhook').item.json.body.isGroupMsg }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1acc2e8d-5e37-4025-8c10-7a7d50a37fbc",
      "name": "receive-message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2040,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ceebc382-a3cd-4f90-b041-24067facbd15",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "={{ $('Webhook').item.json.body.sender }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2d97f46-07bc-4bb5-996e-a1b7cb34d7a2",
      "name": "1st-contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1580,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Olá *{{ $('Webhook').item.json.body.name.split(\" \")[0] }}* 👋, seja bem vindo! \n\nEu sou a *{{ $('parameters').item.json[\"botName\"] }}*, *assistente virtual* 🤖 da *{{ $('parameters').item.json[\"companyName\"] }}*.\n\nPara dar sequência ao atendimento, *digite o número da opção desejada:*\n\n*1* - Abrir um chamado\n*2* - Consultar chamado\n"
            }
          ]
        },
        "options": {}
      },
      "id": "97aeaf87-da42-4380-b2e4-b4e0256d65ac",
      "name": "greeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Certo, para darmos andamento a consulta do seu protocolo, escolha o número de qual protocolo deseja saber o andamento:\n\n*1* - xxxxxxxx \n*2* - xxxxxxxx \n*3* - xxxxxxxx \n*4* - xxxxxxxx "
            }
          ]
        },
        "options": {}
      },
      "id": "f9e375eb-523e-4a4a-9db1-9b20b0b2258e",
      "name": "option-2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -920,
        800
      ]
    },
    {
      "parameters": {
        "url": "=https://viacep.com.br/ws/{{ $('Webhook').item.json.body.content }}/json/ ",
        "options": {}
      },
      "id": "9af68437-83f2-4e4a-8e1b-f42ee3020d8d",
      "name": "search-cep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        960
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "search_cep"
            }
          ]
        }
      },
      "id": "44612e7c-8079-4963-9746-d786f1418859",
      "name": "stp-search-cep",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -360,
        960
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "opt_two"
            }
          ]
        }
      },
      "id": "53ffc050-3716-41e6-b688-c1f0b1dd707c",
      "name": "stp-opt_two",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -740,
        800
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "workflow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "fieldId": "step",
              "fieldValue": "greeting"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Webhook').item.json.body.name }}"
            }
          ]
        }
      },
      "id": "344314b8-9d7a-4b80-bf81-36c9ed0353fd",
      "name": "stp-greeting",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1100,
        520
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chamados",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cep",
              "fieldValue": "={{ $('Webhook').item.json.body.content }}"
            }
          ]
        }
      },
      "id": "12fabde6-896e-4292-955e-70e99bd09ffe",
      "name": "add-os",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -700,
        960
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "opt_one"
            }
          ]
        }
      },
      "id": "ec22aeb5-c5f7-4525-a79e-8531ce459c3e",
      "name": "stp-opt-one",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -740,
        640
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Certo *{{ $('Webhook').item.json.body.name }}*, você desejar solicitar um atendimento para o seguinte endereço:\n\n{{ $('search-cep').item.json[\"cep\"] }}\n{{ $('search-cep').item.json.logradouro }}\n{{ $('search-cep').item.json[\"bairro\"]  }}\n{{ $('search-cep').item.json[\"localidade\"] }} - {{ $('search-cep').item.json[\"uf\"] }}\n\nDigite o número da residência para atendimento ou *fim* para encerrar atendimento."
            }
          ]
        },
        "options": {}
      },
      "id": "72b2ed33-bad2-4686-81a2-368189170725",
      "name": "show-addr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        960
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "bye"
            }
          ]
        }
      },
      "id": "a1a4312a-7330-4708-8462-59142438beee",
      "name": "end",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -540,
        1120
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=A *{{ $('parameters').item.json[\"companyName\"] }}* agradece por entrar em contato e te esperamos em uma nova oportunidade."
            }
          ]
        },
        "options": {}
      },
      "id": "7cffcd2f-a159-4f2f-94a9-cd32fb08891f",
      "name": "goodbye1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Atendimento encerrado.\nPermanecemos a sua disposição."
            }
          ]
        },
        "options": {}
      },
      "id": "b6ca6efa-6452-46db-aaed-a34535a3f607",
      "name": "goodbye2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -700,
        1120
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5ec9bf3f-f420-4b93-840c-c88d29349a5e",
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "d42be2d6-3bd7-43b4-af38-d1e2453487f9",
      "name": "option_1_2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1100,
        700
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.content.toLowerCase() }}",
                    "rightValue": "fim",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fim"
            }
          ]
        },
        "options": {}
      },
      "id": "840a4f96-e53d-4198-a0e9-b8f7e45a4974",
      "name": "end-continue",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1100,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Olá novamente *{{ $('Webhook').item.json.body.name.split(\" \")[0] }}* 👋, seja bem vindo! \n\nEu sou a *{{ $('parameters').item.json[\"botName\"] }}*, *assistente virtual* 🤖 da *{{ $('parameters').item.json[\"companyName\"] }}*.\n\nPara dar sequência ao atendimento, *digite o número da opção desejada:*\n\n*1* - Abrir um chamado\n*2* - Consultar chamado\n"
            }
          ]
        },
        "options": {}
      },
      "id": "2ec2f45f-436e-4199-9236-5a75f0cdb52d",
      "name": "welcome-back",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1100,
        1300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "greeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "greeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "80cc3b19-5d97-42e9-a6e1-bcea094848b4",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "opt_one",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opt_one"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ac75cb82-c1ca-405e-bae3-c8ddc081a522",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "search_cep",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search_cep"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "f2279629-273c-4119-8ada-cd96ba72e4cd",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "end-timeout",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "timeout"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "440d0a4d-9347-4187-8fa9-d9ec169aee93",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "bye",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bye"
            }
          ]
        },
        "options": {}
      },
      "id": "2d7ae886-e5a8-453f-bbd3-d3722c1ac952",
      "name": "which-step?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1360,
        780
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "greeting"
            }
          ]
        }
      },
      "id": "335af351-55da-41af-8e0f-17d3322624b0",
      "name": "stp-greeting-welcome",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -860,
        1300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "8uZt6XcVQTm5fbHt",
        "options": {}
      },
      "id": "4f8b3adc-8b31-4379-8385-80fa120fe247",
      "name": "goto-inactivity",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        120,
        540
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b-bot",
        "options": {}
      },
      "id": "c293b513-e7e1-46dd-8a3f-48d43bb4c092",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2400,
        860
      ],
      "webhookId": "ff632b93-b744-41b0-92e7-9fad3c291839"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "01180494-a01a-48c3-a8fc-22cf89e0afb6",
              "leftValue": "={{ $('save-step').item.json.step }}",
              "rightValue": "={{ $json.step }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4399a18a-87ae-4fc8-a908-182d90963d4c",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        920
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "end-timeout"
            }
          ]
        }
      },
      "id": "9c6aa3e0-1fed-43a5-80a4-f1f931e90163",
      "name": "end-timeout",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        980,
        840
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('parameters').item.json.endpoint }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionKey",
              "value": "={{ $('parameters').item.json.sessionKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('parameters').item.json.session }}"
            },
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=Olá, parece que você deve estar ocupado no momento.\n\nEstou encerrando nosso atendimento, mas a qualquer momento voce pode voltar a me chamar. Basta digitar *{{ $('parameters').item.json[\"botName\"] }}*.\n\nA *{{ $('parameters').item.json[\"companyName\"] }}* agradece por entrar em contato e te esperamos em uma nova oportunidade.\n"
            }
          ]
        },
        "options": {}
      },
      "id": "13be2c86-d49f-4842-bd00-5c8f1d6655fa",
      "name": "timeout-msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        840
      ]
    },
    {
      "parameters": {
        "amount": 90
      },
      "id": "352d993f-6899-4df1-a95c-9ccb53581bee",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        200,
        920
      ],
      "webhookId": "dbf18457-04e5-40f4-be3e-808760ee46c4"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "workflow",
        "filters": {
          "conditions": [
            {
              "keyName": "sender",
              "keyValue": "={{ $('Webhook').item.json.body.sender }}"
            }
          ]
        }
      },
      "id": "4eeeff69-3e86-4202-b24e-f0f62914eedc",
      "name": "search-step",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        380,
        920
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5CV2k8yPhUBY6jzs",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62d175db-4cf4-4ca2-92aa-336fb1308235",
              "name": "step",
              "value": "={{ $json.step }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a3d4a6ff-c593-46d1-ab48-9ab3fdc22258",
      "name": "save-step",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        0,
        920
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "parameters": {
      "main": [
        [
          {
            "node": "receive-message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-cep": {
      "main": [
        [
          {
            "node": "search-cep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search-contact": {
      "main": [
        [
          {
            "node": "1st-contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "receive-message": {
      "main": [
        [
          {
            "node": "search-contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1st-contact?": {
      "main": [
        [
          {
            "node": "greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "which-step?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "greeting": {
      "main": [
        [
          {
            "node": "stp-greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "option-1": {
      "main": [
        [
          {
            "node": "stp-opt-one",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "option-2": {
      "main": [
        [
          {
            "node": "stp-opt_two",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search-cep": {
      "main": [
        [
          {
            "node": "add-os",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add-os": {
      "main": [
        [
          {
            "node": "show-addr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "show-addr": {
      "main": [
        [
          {
            "node": "stp-search-cep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "goodbye1": {
      "main": [
        [
          {
            "node": "goodbye2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "goodbye2": {
      "main": [
        [
          {
            "node": "end",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stp-greeting": {
      "main": [
        [
          {
            "node": "save-step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "option_1_2": {
      "main": [
        [
          {
            "node": "option-1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "option-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "end-continue": {
      "main": [
        [
          {
            "node": "goodbye1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "welcome-back": {
      "main": [
        [
          {
            "node": "stp-greeting-welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "which-step?": {
      "main": [
        [
          {
            "node": "option_1_2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "validate-cep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "end-continue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "welcome-back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "welcome-back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stp-opt-one": {
      "main": [
        [
          {
            "node": "save-step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stp-opt_two": {
      "main": [
        [
          {
            "node": "save-step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stp-search-cep": {
      "main": [
        [
          {
            "node": "save-step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "end": {
      "main": [
        [
          {
            "node": "save-step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "timeout-msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "timeout-msg": {
      "main": [
        [
          {
            "node": "end-timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "search-step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search-step": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save-step": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "472418bd-9766-4e18-919b-19017b38c12f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f529964ec142b683b8d6fb1b1061b8c872558a9ac9ba4a71dc5384e4d45db503"
  },
  "id": "gh57hwVXcaoevmbf",
  "tags": []
}