bbot/flow_01.json
{
  "name": "flow-01",
  "nodes": [
    {
      "parameters": {},
      "id": "cd8d7324-9aa0-4dea-8167-d816144c71db",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        280,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58af3df4-1220-406b-a6d5-df8b3e96d88a",
              "name": "path",
              "value": "/dev",
              "type": "string"
            },
            {
              "id": "528a9bc6-3fa5-4fce-b555-8aa729392047",
              "name": "key",
              "value": "xpto",
              "type": "string"
            },
            {
              "id": "2909b4f1-83b7-4682-86a1-5cc07201837b",
              "name": "pwd",
              "value": "1234",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8c0d89e4-ad81-4c7b-9750-065a878535e4",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        500,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2645ed0f-31ee-4160-a053-df4003fffdbd",
              "leftValue": "={{ $json.key }}",
              "rightValue": "xpto",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c67922b2-bca8-4507-8f2b-8a1b79e72bf4",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        740,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29fcc2cb-a3be-4501-a1e8-423677dc10b4",
              "name": "jwt",
              "value": "asd#$R%df$%^",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "972bf138-6acf-4fb0-ac4c-fd6707ba99b2",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        960,
        120
      ]
    },
    {
      "parameters": {
        "workflowId": "lejk3vdIGyxacZmw",
        "options": {}
      },
      "id": "f0a73a36-f77b-43e6-a3ed-d5fcd384b7a6",
      "name": "wf-true",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1420,
        40
      ]
    },
    {
      "parameters": {
        "workflowId": "lejk3vdIGyxacZmw",
        "options": {}
      },
      "id": "f559dd5f-3ea1-4bb5-b000-2a6621ecb896",
      "name": "wf-false",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1140,
        260
      ]
    },
    {
      "parameters": {},
      "id": "400d7c81-abf7-445a-a3ad-ed897b514b21",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1180,
        -100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "wf-false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "wf-true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3f9dfd09-1ab2-4563-a236-d6eeeb13e948",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f529964ec142b683b8d6fb1b1061b8c872558a9ac9ba4a71dc5384e4d45db503"
  },
  "id": "tMJYbBa2URTuNuMD",
  "tags": []
}