live/Ativa_ou_Desativa_Typebot.json
{
  "name": "Ativa ou Desativa Typebot",
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "tableName": {
          "__rl": true,
          "value": "accounts",
          "mode": "list",
          "cachedResultName": "accounts"
        },
        "firesOn": "UPDATE",
        "additionalFields": {},
        "options": {}
      },
      "id": "503a7432-76a3-4847-a797-f8906a08bb6e",
      "name": "Escuta Chatwoot",
      "type": "n8n-nodes-base.postgresTrigger",
      "typeVersion": 1,
      "position": [
        380,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "4qVyUlJzBTt1tpVw",
          "name": "Banco Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "74986c27-7200-46c8-9b70-f2368e35a3ed",
              "leftValue": "={{ $json.payload.status }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "00bfd794-5341-4cdc-9bdf-f217515d04a6",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "typebot",
          "mode": "list",
          "cachedResultName": "typebot"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id_chatwoot",
              "value": "={{ $('Escuta Chatwoot').item.json[\"payload\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "16a8fa02-1efc-4501-80e7-0e5dbbfb40f5",
      "name": "Busca os Dados",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        780,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "sD0KfDshuFBs7TzV",
          "name": "Acesso Banco controle typebot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Workspace",
          "mode": "list",
          "cachedResultName": "Workspace"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isSuspended": true,
            "id": "={{ $('Busca os Dados').item.json[\"id_workspacety\"] }}",
            "name": "={{ $json.nome }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "icon",
              "displayName": "icon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "plan",
              "displayName": "plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "UNLIMITED",
                  "value": "UNLIMITED"
                },
                {
                  "name": "CUSTOM",
                  "value": "CUSTOM"
                },
                {
                  "name": "OFFERED",
                  "value": "OFFERED"
                },
                {
                  "name": "LIFETIME",
                  "value": "LIFETIME"
                },
                {
                  "name": "PRO",
                  "value": "PRO"
                },
                {
                  "name": "STARTER",
                  "value": "STARTER"
                },
                {
                  "name": "FREE",
                  "value": "FREE"
                }
              ],
              "removed": true
            },
            {
              "id": "stripeId",
              "displayName": "stripeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "additionalChatsIndex",
              "displayName": "additionalChatsIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "additionalStorageIndex",
              "displayName": "additionalStorageIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chatsLimitFirstEmailSentAt",
              "displayName": "chatsLimitFirstEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chatsLimitSecondEmailSentAt",
              "displayName": "chatsLimitSecondEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "storageLimitFirstEmailSentAt",
              "displayName": "storageLimitFirstEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "storageLimitSecondEmailSentAt",
              "displayName": "storageLimitSecondEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "customChatsLimit",
              "displayName": "customChatsLimit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "customSeatsLimit",
              "displayName": "customSeatsLimit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "customStorageLimit",
              "displayName": "customStorageLimit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isQuarantined",
              "displayName": "isQuarantined",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isSuspended",
              "displayName": "isSuspended",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "isPastDue",
              "displayName": "isPastDue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isVerified",
              "displayName": "isVerified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "dc7a400b-dba5-4199-87e9-98bac207a9af",
      "name": "Busca os Dados1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        980,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "4zc4ph39fsxPtDZN",
          "name": "Banco Typebot"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "typebot",
          "mode": "list",
          "cachedResultName": "typebot"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id_chatwoot",
              "value": "={{ $('Escuta Chatwoot').item.json[\"payload\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "528a790b-e261-4725-86e5-ad7d15fb14a8",
      "name": "Busca os Dados2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        780,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "sD0KfDshuFBs7TzV",
          "name": "Acesso Banco controle typebot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Workspace",
          "mode": "list",
          "cachedResultName": "Workspace"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isSuspended": false,
            "id": "={{ $('Busca os Dados2').item.json[\"id_workspacety\"] }}",
            "name": "={{ $json.nome }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "icon",
              "displayName": "icon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "plan",
              "displayName": "plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "UNLIMITED",
                  "value": "UNLIMITED"
                },
                {
                  "name": "CUSTOM",
                  "value": "CUSTOM"
                },
                {
                  "name": "OFFERED",
                  "value": "OFFERED"
                },
                {
                  "name": "LIFETIME",
                  "value": "LIFETIME"
                },
                {
                  "name": "PRO",
                  "value": "PRO"
                },
                {
                  "name": "STARTER",
                  "value": "STARTER"
                },
                {
                  "name": "FREE",
                  "value": "FREE"
                }
              ],
              "removed": true
            },
            {
              "id": "stripeId",
              "displayName": "stripeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "additionalChatsIndex",
              "displayName": "additionalChatsIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "additionalStorageIndex",
              "displayName": "additionalStorageIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chatsLimitFirstEmailSentAt",
              "displayName": "chatsLimitFirstEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chatsLimitSecondEmailSentAt",
              "displayName": "chatsLimitSecondEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "storageLimitFirstEmailSentAt",
              "displayName": "storageLimitFirstEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "storageLimitSecondEmailSentAt",
              "displayName": "storageLimitSecondEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "customChatsLimit",
              "displayName": "customChatsLimit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "customSeatsLimit",
              "displayName": "customSeatsLimit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "customStorageLimit",
              "displayName": "customStorageLimit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isQuarantined",
              "displayName": "isQuarantined",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isSuspended",
              "displayName": "isSuspended",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "isPastDue",
              "displayName": "isPastDue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isVerified",
              "displayName": "isVerified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "3f3923f9-76a3-4986-9326-5139c7db3b21",
      "name": "Busca os Dados3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        980,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "4zc4ph39fsxPtDZN",
          "name": "Banco Typebot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Escuta Chatwoot": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca os Dados": {
      "main": [
        [
          {
            "node": "Busca os Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Busca os Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca os Dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca os Dados2": {
      "main": [
        [
          {
            "node": "Busca os Dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca os Dados3": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "746e1a8f-3a58-4c19-a88b-77dbe1ec4d54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "HmJ2vxSN2knLXRJ1",
  "tags": []
}