live/Criador_de_Empresa_plus.json
{
  "name": "Criador de Empresa plus",
  "nodes": [
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Info Base1').item.json[\"UrlChatwoot\"] }}/api/v1/accounts/{{ $node[\"Cria Conta1\"].json[\"id\"] }}/contacts/{{ $('Busca Contato Gerador de QR').item.json[\"payload\"][0][\"id\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Cria Usuario1').item.json[\"access_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "=Gerador de QR"
            },
            {
              "name": "avatar_url",
              "value": "https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Link_pra_pagina_principal_da_Wikipedia-PT_em_codigo_QR_b.svg/1200px-Link_pra_pagina_principal_da_Wikipedia-PT_em_codigo_QR_b.svg.png"
            }
          ]
        },
        "options": {}
      },
      "id": "5adc094d-155a-44d0-9c81-6f5d2f6431a3",
      "name": "Alterar nome contato Gerador de QR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1260,
        640
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Info Base1').item.json[\"UrlChatwoot\"] }}/api/v1/accounts/{{ $node[\"Cria Conta1\"].json[\"id\"] }}/contacts/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "+123456"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Cria Usuario1').item.json[\"access_token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4af07bc-2518-4884-95cd-a7dce96691b3",
      "name": "Busca Contato Gerador de QR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1460,
        640
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "2dfd1dad-c0eb-4941-8053-49ae1e4164b7",
      "name": "5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1640,
        640
      ],
      "webhookId": "a3b7a964-c13a-4b08-8a0d-bea313f43fac"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base1').item.json[\"UrlChatwoot\"] }}/platform/api/v1/accounts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Info Base1').item.json[\"api_access_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.NomeEmpresa }}"
            },
            {
              "name": "locale",
              "value": "pt_BR"
            }
          ]
        },
        "options": {}
      },
      "id": "f575aa40-c71a-431c-b6f0-45703b9adda5",
      "name": "Cria Conta1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1080,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base1').item.json[\"UrlChatwoot\"] }}/platform/api/v1/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Info Base1').item.json[\"api_access_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Info Base1').item.json.nomeAdministrador }}"
            },
            {
              "name": "email",
              "value": "={{ $('Info Base1').item.json[\"email\"] }}"
            },
            {
              "name": "password",
              "value": "={{ $('Info Base1').item.json[\"password\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "238c270b-f20b-4649-a4d4-30482ecff43a",
      "name": "Cria Usuario1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -900,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base1').item.json[\"UrlChatwoot\"] }}/platform/api/v1/accounts/{{ $node[\"Cria Conta1\"].json[\"id\"] }}/account_users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Info Base1').item.json[\"api_access_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $node[\"Cria Usuario1\"].json[\"id\"] }}"
            },
            {
              "name": "role",
              "value": "administrator"
            }
          ]
        },
        "options": {}
      },
      "id": "37b82e81-747c-4767-a27b-c11a4b608e32",
      "name": "Add Usuario a Conta1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -700,
        400
      ]
    },
    {
      "parameters": {
        "fromEmail": "adm@trecofantastico.com.br",
        "toEmail": "={{ $('LimpaDados1').item.json.email }}",
        "subject": "Bem vindo ao Astra Online",
        "text": "=Olá seja bem vindo:\n\nAbaixo segue seus dados de acesso iniciais ao Chatwoot:\n\nURL: {{ $('Info Base1').item.json[\"UrlChatwoot\"] }}\n\nLoging: {{ $('LimpaDados1').item.json[\"email\"] }}\n\nSenha: {{ $('LimpaDados1').item.json[\"senha\"] }}\n\nPara Acessar seu Typebot\n\nAcesse: https://fluxo.trecofantastico.com.br\n\nLoging: {{ $('LimpaDados1').item.json[\"email\"] }}",
        "options": {}
      },
      "id": "76e7eaf8-c1ed-446b-863d-6b77b5472f97",
      "name": "Send Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        0,
        640
      ],
      "credentials": {
        "smtp": {
          "id": "51C4qUxaEYuaxoHg",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "UrlChatwoot",
              "value": "url do seu chatwoot"
            },
            {
              "name": "api_access_token",
              "value": "seu api token "
            },
            {
              "name": "UrlEvolution",
              "value": "sua url evolution"
            },
            {
              "name": "apievolution",
              "value": "sua api key"
            },
            {
              "name": "nome",
              "value": "={{ $json.NomeEmpresa }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.senha }}"
            },
            {
              "name": "NomeEmpresa",
              "value": "={{ $json.NomeEmpresa }}"
            },
            {
              "name": "UrlStatusAPI",
              "value": "https://n8ndocker.trecofantastico.com.br/webhook-test/evoatual"
            }
          ]
        },
        "options": {}
      },
      "id": "eb6fac58-f65b-498b-a48e-84efb5ca304d",
      "name": "Info Base1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1280,
        400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nomeAdministrador",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"messages\"][0][\"content\"].match(/Nome Usuario Administrador: ([^\\s]+)/)[1];}}"
            },
            {
              "name": "NomeEmpresa",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"messages\"][0][\"content\"].match(/Nome da Empresa: ([^\\s]+)/)[1];}}"
            },
            {
              "name": "email",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"messages\"][0][\"content\"].match(/Email: ([^\\s]+)/)[1];}}"
            },
            {
              "name": "senha",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"messages\"][0][\"content\"].match(/Senha: ([^\\s]+)/)[1];}}"
            }
          ]
        },
        "options": {}
      },
      "id": "97bc205d-ffef-418e-8018-7fb073646c2e",
      "name": "LimpaDados1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1460,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base1').item.json.UrlEvolution }}/instance/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Info Base1').item.json[\"apievolution\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"instanceName\": \"{{ $json.id }}whatsapp\",\n    \"token\": \"\",\n    \"qrcode\": true,\n    \"chatwoot_account_id\": {{ $('Cria Conta1').item.json[\"id\"] }},\n    \"chatwoot_token\": \"{{ $('Cria Usuario1').item.json[\"access_token\"] }}\",\n    \"chatwoot_url\": \"{{ $('Info Base1').item.json[\"UrlChatwoot\"] }}\",\n    \"chatwoot_sign_msg\": true,\n    \"chatwoot_reopen_conversation\": true,\n    \"chatwoot_conversation_pending\": false,\n    \"import_contacts\": false,\n    \"import_messages\": true,\n    \"days_limit_import_messages\": 5\n} ",
        "options": {}
      },
      "id": "1141476e-e5a7-4a48-8e4d-8e4ee0e76548",
      "name": "Cria API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -340,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base1').item.json[\"UrlChatwoot\"] }}/api/v1/accounts/{{ $('Cria Conta1').item.json[\"id\"] }}/automation_rules",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Cria Usuario1').item.json[\"access_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"ComandosAPI-(Não-Desativar)\",\n  \"description\": \"Não-Desativar\",\n  \"event_name\": \"message_created\",\n  \"active\": true,\n  \"conditions\": [\n    {\n      \"attribute_key\": \"phone_number\",\n      \"filter_operator\": \"equal_to\",\n      \"values\": [\n        \"+123456\"\n      ],\n      \"query_operator\": \"and\",\n      \"custom_attribute_type\": \"\"\n    },\n    {\n      \"attribute_key\": \"content\",\n      \"filter_operator\": \"contains\",\n      \"values\": [\n        \"#\"\n      ],\n      \"custom_attribute_type\": \"\"\n    }\n  ],\n  \"actions\": [\n    {\n      \"action_name\": \"send_webhook_event\",\n      \"action_params\": [\n        \"{{ $('Info Base1').item.json[\"UrlStatusAPI\"] }}\"\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "78da3d88-8129-4dec-ab5a-f5242f2de6c7",
      "name": "Adiciona Automação Status API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -520,
        400
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "User",
          "mode": "list",
          "cachedResultName": "User"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "createdAt": "={{$now}}",
            "lastActivityAt": "={{$now}}",
            "updatedAt": "={{$now}}",
            "emailVerified": "={{$now}}",
            "id": "={{ $('Gerador de ID Usuario').item.json[\"id\"] }}",
            "company": "[NULL]",
            "graphNavigation": "TRACKPAD",
            "email": "={{ $('Info Base1').item.json[\"email\"] }}",
            "name": "={{ $('Info Base1').item.json[\"nome\"] }}",
            "image": "[NULL]",
            "preferredAppAppearance": "[NULL]",
            "onboardingCategories": "{}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailVerified",
              "displayName": "emailVerified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "lastActivityAt",
              "displayName": "lastActivityAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "onboardingCategories",
              "displayName": "onboardingCategories",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "graphNavigation",
              "displayName": "graphNavigation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "TRACKPAD",
                  "value": "TRACKPAD"
                },
                {
                  "name": "MOUSE",
                  "value": "MOUSE"
                }
              ]
            },
            {
              "id": "preferredAppAppearance",
              "displayName": "preferredAppAppearance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "b7e8ea1d-9920-4007-8872-1eb27003b3c7",
      "name": "Cria usuario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        -880,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "4zc4ph39fsxPtDZN",
          "name": "Banco Typebot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const length = 25;  // Você pode ajustar isso conforme necessário\nconst charset = \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\";\nlet result = \"\";\n\nfor (let i = 0; i < length; i++) {\n    result += charset.charAt(Math.floor(Math.random() * charset.length));\n}\n\nreturn [\n    {\n        json: {\n            id: result\n        }\n    }\n];\n"
      },
      "id": "b79999b0-497e-495f-90ea-75a35c8fc411",
      "name": "Gerador de ID Workspace",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -720,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const length = 25;  // Você pode ajustar isso conforme necessário\nconst charset = \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\";\nlet result = \"\";\n\nfor (let i = 0; i < length; i++) {\n    result += charset.charAt(Math.floor(Math.random() * charset.length));\n}\n\nreturn [\n    {\n        json: {\n            id: result\n        }\n    }\n];\n"
      },
      "id": "b75bd467-e6ac-43f4-bf17-fc201bf0d942",
      "name": "Gerador de ID Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1060,
        640
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Workspace",
          "mode": "list",
          "cachedResultName": "Workspace"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isQuarantined": false,
            "isSuspended": false,
            "plan": "UNLIMITED",
            "id": "={{ $('Gerador de ID Workspace').item.json[\"id\"] }}",
            "name": "={{ $('Info Base1').item.json[\"NomeEmpresa\"] }}",
            "icon": "[NULL]",
            "createdAt": "={{$now}}",
            "chatsLimitFirstEmailSentAt": "={{$now}}",
            "chatsLimitSecondEmailSentAt": "={{$now}}",
            "storageLimitFirstEmailSentAt": "={{$now}}",
            "storageLimitSecondEmailSentAt": "={{$now}}",
            "updatedAt": "={{$now}}",
            "additionalChatsIndex": 0,
            "additionalStorageIndex": 0,
            "customChatsLimit": 0,
            "customSeatsLimit": 0,
            "customStorageLimit": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "icon",
              "displayName": "icon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "plan",
              "displayName": "plan",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "UNLIMITED",
                  "value": "UNLIMITED"
                },
                {
                  "name": "CUSTOM",
                  "value": "CUSTOM"
                },
                {
                  "name": "OFFERED",
                  "value": "OFFERED"
                },
                {
                  "name": "LIFETIME",
                  "value": "LIFETIME"
                },
                {
                  "name": "PRO",
                  "value": "PRO"
                },
                {
                  "name": "STARTER",
                  "value": "STARTER"
                },
                {
                  "name": "FREE",
                  "value": "FREE"
                }
              ]
            },
            {
              "id": "stripeId",
              "displayName": "stripeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "additionalChatsIndex",
              "displayName": "additionalChatsIndex",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "additionalStorageIndex",
              "displayName": "additionalStorageIndex",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "chatsLimitFirstEmailSentAt",
              "displayName": "chatsLimitFirstEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "chatsLimitSecondEmailSentAt",
              "displayName": "chatsLimitSecondEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "storageLimitFirstEmailSentAt",
              "displayName": "storageLimitFirstEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "storageLimitSecondEmailSentAt",
              "displayName": "storageLimitSecondEmailSentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "customChatsLimit",
              "displayName": "customChatsLimit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "customSeatsLimit",
              "displayName": "customSeatsLimit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "customStorageLimit",
              "displayName": "customStorageLimit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "isQuarantined",
              "displayName": "isQuarantined",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "isSuspended",
              "displayName": "isSuspended",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "f65f57a4-7c8b-4a28-a752-e0e7067a15b6",
      "name": "Cria Workspace",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        -540,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "4zc4ph39fsxPtDZN",
          "name": "Banco Typebot"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "MemberInWorkspace",
          "mode": "list",
          "cachedResultName": "MemberInWorkspace"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('Cria usuario').item.json[\"id\"] }}",
            "workspaceId": "={{ $('Cria Workspace').item.json[\"id\"] }}",
            "role": "ADMIN",
            "createdAt": "={{$now}}",
            "updatedAt": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workspaceId",
              "displayName": "workspaceId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "GUEST",
                  "value": "GUEST"
                },
                {
                  "name": "MEMBER",
                  "value": "MEMBER"
                },
                {
                  "name": "ADMIN",
                  "value": "ADMIN"
                }
              ]
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d4266327-aadf-4885-9ce5-e891f72b2bb6",
      "name": "Associa Usuario ao Workspace",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        -360,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "4zc4ph39fsxPtDZN",
          "name": "Banco Typebot"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "typebot",
          "mode": "list",
          "cachedResultName": "typebot"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_usuarioty": "={{ $('Cria usuario').item.json[\"id\"] }}",
            "id_workspacety": "={{ $('Cria Workspace').item.json[\"id\"] }}",
            "id_chatwoot": "={{ $('Cria Conta1').item.json[\"id\"] }}",
            "nome": "={{ $('Info Base1').item.json[\"nome\"] }}",
            "email": "={{ $('Info Base1').item.json[\"email\"] }}",
            "status": "Ativo"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_usuarioty",
              "displayName": "id_usuarioty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_workspacety",
              "displayName": "id_workspacety",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_chatwoot",
              "displayName": "id_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "0a357a35-cb84-4fd0-9411-96c2f40d4533",
      "name": "Adiciona Dados de controle",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        -180,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "sD0KfDshuFBs7TzV",
          "name": "Acesso Banco controle typebot"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criadorchatwoot22",
        "options": {}
      },
      "id": "1972c176-c904-4523-bfe2-4d7bf1c3af38",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1640,
        400
      ],
      "webhookId": "6fe428e3-1752-453c-9358-abf18b793387"
    }
  ],
  "pinData": {},
  "connections": {
    "Alterar nome contato Gerador de QR": {
      "main": [
        [
          {
            "node": "Gerador de ID Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Contato Gerador de QR": {
      "main": [
        [
          {
            "node": "Alterar nome contato Gerador de QR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5s": {
      "main": [
        [
          {
            "node": "Busca Contato Gerador de QR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Conta1": {
      "main": [
        [
          {
            "node": "Cria Usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Usuario1": {
      "main": [
        [
          {
            "node": "Add Usuario a Conta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Usuario a Conta1": {
      "main": [
        [
          {
            "node": "Adiciona Automação Status API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info Base1": {
      "main": [
        [
          {
            "node": "Cria Conta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LimpaDados1": {
      "main": [
        [
          {
            "node": "Info Base1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria API1": {
      "main": [
        [
          {
            "node": "5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Automação Status API": {
      "main": [
        [
          {
            "node": "Cria API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria usuario": {
      "main": [
        [
          {
            "node": "Gerador de ID Workspace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerador de ID Workspace": {
      "main": [
        [
          {
            "node": "Cria Workspace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerador de ID Usuario": {
      "main": [
        [
          {
            "node": "Cria usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Workspace": {
      "main": [
        [
          {
            "node": "Associa Usuario ao Workspace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associa Usuario ao Workspace": {
      "main": [
        [
          {
            "node": "Adiciona Dados de controle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Dados de controle": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "LimpaDados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a33ec63c-4134-42be-b7ca-c15bd01f5432",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "fE05xdhxTXUol6Ew",
  "tags": []
}